body{background-color:#D1E8E2; color:#116466;
    }
h1,h2{
   text-align:center;
   }
 


#first {text-align: center;{

#second{padding-left:15%;padding-top:4% ;float:left; text-align:left;color:#800080; width: 30%;
    {
#third{padding-left:15%;}
 
img   {width: 20%; height: auto; float:right;padding:4%; 
}

 
 
 

