body{background-color:#D1E8E2; color:#116466;
    }

div   {text-align: left;}
 
img   {width: 30%; height: auto; float:right;  }
.img_text {display: flex;  }

 
 
 
 h1{
   text-align:center;
   }


